# System files
.DS_Store

# Python virtual environment
venv/

# Python cache files
__pycache__

# Memory logs
*.log

# Directory for ROSA sizing archives
sizing_archives/

#Directory for memlog
memlog/

# Metrics and sizing data files
*.json
*.json.bak

# Output files
*_sizing.txt
